@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;900&display=swap");

$col-prime-red: #ff4655;
$col-prime-black: #0f1923;
$col-light-grey: #fffafaa9;

body {
	background-color: $col-prime-black;
	color: #fff;
	overflow-x: hidden;
	position: static;
	width: 100%;
	font-family: "Poppins", sans-serif;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
	background: $col-prime-black;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: $col-light-grey;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $col-prime-red;
}

.text-light-grey {
	color: $col-light-grey;
}

.text-prime-red {
	color: $col-prime-red;
}

.section-h1 {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #212932;
	text-transform: uppercase;
	font-size: 30vw;
	font-weight: bold;
	line-height: 1;
	position: absolute;
	z-index: -1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
}

h1 {
	font-size: clamp(2rem, 6vw, 3.5rem);
	font-weight: bold;
	line-height: 1.3;
}

p,
h6 {
	font-size: clamp(0.5rem, 3vw, 1rem);
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: $col-prime-red;
}

.second-nav {
	height: 50px;
	font-size: 0.8rem;
	background-color: rgb(0, 0, 0);
}

// ======================
// ====    BUTTON    ====
// ======================
.button {
	display: inline-block;
	text-decoration: none;
	position: relative;
}

.button .bottom {
	position: absolute;
	left: 7px;
	top: 7px;
	width: 100%;
	height: 100%;
	background-color: $col-prime-red;
	display: block;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.button .top {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 20px 30px 18px 30px;
	border: 2px solid #fff;
}

.button-dark .top {
	border: 2px solid $col-prime-black;
}

.button .top .label {
	font-weight: bold;
	color: #fff;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.button-dark .top .label {
	color: #fff;
}

.button:hover .bottom {
	left: 0;
	top: 0;
	background-color: $col-prime-black;
}

.button:hover .top .label {
	color: $col-prime-red;
}

.button-border {
	position: absolute;
	background-color: $col-prime-red;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}

.button:hover .top .button-border-left,
.button:hover .top .button-border-right {
	height: calc(100% + 2px);
}

.button:hover .top .button-border-top,
.button:hover .top .button-border-bottom {
	width: calc(100% + 2px);
}

.button-border-left {
	left: -2px;
	bottom: -2px;
	width: 2px;
	height: 0;
}

.button-border-top {
	left: -2px;
	top: -2px;
	width: 0;
	height: 2px;
}

.button-border-right {
	right: -2px;
	top: -2px;
	width: 2px;
	height: 0;
}

.button-border-bottom {
	right: -2px;
	bottom: -2px;
	width: 0;
	height: 2px;
}

nav {
	height: 100px;
	background-color: rgb(66, 66, 30);
}

.hero {
	min-height: calc(100vh - 150px);
	display: flex;
	align-items: center;
}

// ======================
// ====    BUTTON    ====
// ======================

@media (min-width: 1200px) {
	.section-h1 {
		font-size: 16vw;
	}

	.section-social {
		position: fixed;
		bottom: 0;
		right: 0;
		width: 5vw;
		height: calc(100vh - 100px);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
	}

	.social-line::before,
	.social-line::after {
		content: "";
		display: block;
		width: 5px;
		height: 20px;
		background-color: $col-prime-red;
		z-index: 1;
		margin: 10% 0;
	}

	section {
		z-index: 1;
	}
}
