@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;900&display=swap");

$col-prime-red: #ff4655;
$col-prime-black: #0f1923;
$col-shade-black: #091016;
$col-light-black: #212932;
$col-light-grey: #fffafaa9;

html {
	scroll-behavior: smooth;
}

body {
	background-color: $col-prime-black;
	color: #fff;
	overflow-x: hidden;
	position: static;
	max-width: 100vw;
	font-family: "Poppins", sans-serif;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
	background: $col-light-grey;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: $col-light-black;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $col-prime-red;
}

.text-light-black {
	color: $col-light-black;
}

.text-light-grey {
	color: $col-light-grey;
}

.text-prime-red {
	color: $col-prime-red;
}

h1 {
	font-size: clamp(2rem, 6vw, 3.5rem);
	font-weight: bold;
	line-height: 1.3;
}

p,
h6 {
	font-size: clamp(0.9rem, 3vw, 1rem);
}

h3 {
	font-size: clamp(0.7rem, 3vw, 0.8rem);
	font-style: italic;
	font-weight: normal;
	text-transform: uppercase;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: $col-prime-red;
}

// ======================
// ====    BUTTON    ====
// ======================
.button {
	display: inline-block;
	text-decoration: none;
	position: relative;
}

.button .bottom {
	position: absolute;
	left: 7px;
	top: 7px;
	width: 100%;
	height: 100%;
	background-color: $col-prime-red;
	display: block;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.button .top {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 20px 30px 18px 30px;
	border: 2px solid #fff;
}

.button-dark .top {
	border: 2px solid $col-prime-black;
}

.button .top .label {
	font-weight: bold;
	color: #fff;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.button-dark .top .label {
	color: #fff;
}

.button:hover .bottom {
	left: 0;
	top: 0;
	background-color: $col-prime-black;
}

.button:hover .top .label {
	color: $col-prime-red;
}

.button-border {
	position: absolute;
	background-color: $col-prime-red;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}

.button:hover .top .button-border-left,
.button:hover .top .button-border-right {
	height: calc(100% + 2px);
}

.button:hover .top .button-border-top,
.button:hover .top .button-border-bottom {
	width: calc(100% + 2px);
}

.button-border-left {
	left: -2px;
	bottom: -2px;
	width: 2px;
	height: 0;
}

.button-border-top {
	left: -2px;
	top: -2px;
	width: 0;
	height: 2px;
}

.button-border-right {
	right: -2px;
	top: -2px;
	width: 2px;
	height: 0;
}

.button-border-bottom {
	right: -2px;
	bottom: -2px;
	width: 0;
	height: 2px;
}

nav {
	height: 80px;
	background-color: $col-shade-black;
}

.second-nav {
	height: 80px;
	font-size: 0.8rem;
	background-color: $col-shade-black;
	z-index: 1;
	max-width: 100vw;
}

.row-hero {
	padding: 80px 0;
}

.section-content {
	padding: 10vh 0;
}

.hero-text {
	text-justify: inter-word;
}

// =============================
// ====    End of BUTTON    ====
// =============================

@media (min-width: 1200px) {
	.row-hero {
		height: 100vh;
		padding: 0;
		padding-top: 80px;
	}

	.section-content {
		padding: 20vh 0;
	}

	.section-h1 {
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: $col-light-black;
		text-transform: uppercase;
		font-size: 16vw;
		font-weight: bold;
		line-height: 1;
		position: absolute;
		z-index: -1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: clip;
	}

	.section-social {
		position: fixed;
		bottom: 0;
		right: 0;
		width: 5vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
	}

	.social-line::before,
	.social-line::after {
		content: "";
		display: block;
		width: 5px;
		height: 20px;
		background-color: $col-prime-red;
		z-index: 1;
		margin: 10% 0;
	}

	section {
		z-index: 1;
	}
}
